
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";


@font-face {
  font-family: 'Beautique Display Condensed';
  src: url('/fonts/Beautique Display Condensed.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {

  /* Custom Colors */

  --color-primary: #182B21;
  --color-accent: #AF8D57;
  --color-secondary: #FFFBF4;
  --color-text: #151515;


  /* Custom Fonts */

  --font-mona:'Mona Sans', sans-serif;
  --font-beautique:'Beautique Display Condensed', serif;

  /* Custom Breakpoints */

  --breakpoint-msm:20rem;      /* Mobile Small (320px) */
  --breakpoint-mmd:23.4375rem; /* Mobile Medium (375px) */
  --breakpoint-mlg:26.5625rem; /* Mobile Large (425px) */
  --breakpoint-3xl:120rem;     /* 1920px (Full HD) */
  --breakpoint-4xl:160rem;     /* 2560px (2K) */
  --breakpoint-5xl:240rem;     /* 3840px (4K) */
}

/* Apply default styles to plain html tags */
@layer base
{
  html {
    scroll-behavior: auto;
  }
  
  html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
  
  body {
    @apply text-text bg-secondary
  }
  
}

@layer components{

}

@layer utilities {
 
  .overlay-gradient::before {
    @apply absolute inset-0 content-[''] bg-[linear-gradient(180deg,rgba(0,0,0,0)_0%,rgba(0,0,0,0.4)_100%)] -z-0;
  }
  .max-container
  {
    max-width: 1920px;
  }
}





/* Step 1 */
@utility f-4xl {
  font-size: clamp(3.81rem, 4.6vi + 2.89rem, 8.42rem);

}

/* Step 2 */
@utility f-xxxl {
  font-size: clamp(3.05rem, 3.26vi + 2.4rem, 6.31rem);
}

/* Step 3 */
@utility f-xxl {
  font-size: clamp(2.44rem, 2.29vi + 1.98rem, 4.74rem);

}

/* Step 4 */
@utility f-xl {
  font-size: clamp(1.95rem, 1.6vi + 1.63rem, 3.55rem);

}

/* Step 5 */
@utility f-lg {
  font-size: clamp(1.56rem, 1.1vi + 1.34rem, 2.67rem);

}

/* Step 6 */
@utility f-md {
  font-size: clamp(1.25rem, 0.75vi + 1.1rem, 2rem);
}

/* Step 7 */
@utility f-base{
  font-size: clamp(1rem, 0.5vi + 0.9rem, 1.5rem);
}

/* Step 8 */
@utility f-sm {
  font-size:  clamp(0.8rem, 0.33vi + 0.73rem, 1.13rem);
}
/* Step 9 */
@utility f-xs {
  font-size:  clamp(0.64rem, 0.2vi + 0.6rem, 0.84rem);
}




/* Padding Utilities */
@utility fpt {
  padding-top: clamp(2.5rem, 2.0736rem + 1.6054vw, 4rem);
}
@utility fpb {
  padding-bottom:clamp(2.5rem, 2.0736rem + 1.6054vw, 4rem);
}
@utility fpy {
  padding-top: clamp(2.5rem, 2.0736rem + 1.6054vw, 4rem);
  padding-bottom:clamp(2.5rem, 2.0736rem + 1.6054vw, 4rem);
}
@utility fpr {
  padding-right: clamp(1.25rem, -0.1003rem + 5.0836vw, 6rem);
}
@utility fpl {
  padding-left: clamp(1.25rem, -0.1003rem + 5.0836vw, 6rem);
}
@utility fpx {
  padding-left: clamp(1.25rem, -0.1003rem + 5.0836vw, 6rem);
  padding-right: clamp(1.25rem, -0.1003rem + 5.0836vw, 6rem);
}
@utility fp {
  padding-top: clamp(2.5rem, 2.0736rem + 1.6054vw, 4rem);
  padding-bottom:clamp(2.5rem, 2.0736rem + 1.6054vw, 4rem);
  padding-left: clamp(1.25rem, -0.1003rem + 5.0836vw, 6rem);
  padding-right: clamp(1.25rem, -0.1003rem + 5.0836vw, 6rem);
}
@utility fbpy{
  padding-top:clamp(8rem, 6.4rem + 8vw, 16rem);
  padding-bottom: clamp(4rem, 3.2rem + 4vw, 8rem);
}
@utility nav
{
  @apply text-sm 2xl:text-base 3xl:text-xl
}

/* Swiper Custom Styles */
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  background: rgba(175, 141, 87, 0.4);
  border-radius: 50%;
  transition: all 0.3s;
}

.swiper-pagination-bullet-active {
  width: 32px;
  height: 8px;
  background: #AF8D57;
  border-radius: 4px;
}

.swiper-pagination {
  position: relative !important;
  margin-top: 24px;
}

