
@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";


@font-face {
  font-family: 'Beautique Display Condensed';
  src: url('/fonts/Beautique Display Condensed.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme {

  /* Custom Colors */

  --color-primary: #182B21;
  --color-accent: #AF8D57;
  --color-secondary: #FFFBF4;
  --color-text: #151515;


  /* Custom Fonts */

  --font-mona:'Mona Sans', sans-serif;
  --font-beautique:'Beautique Display Condensed', serif;

  /* Custom Breakpoints */

  --breakpoint-msm:20rem;      /* Mobile Small (320px) */
  --breakpoint-mmd:23.4375rem; /* Mobile Medium (375px) */
  --breakpoint-mlg:26.5625rem; /* Mobile Large (425px) */
  --breakpoint-3xl:120rem;     /* 1920px (Full HD) */
  --breakpoint-4xl:160rem;     /* 2560px (2K) */
  --breakpoint-5xl:240rem;     /* 3840px (4K) */
}

/* Apply default styles to plain html tags */
@layer base
{
  html {
    scroll-behavior: auto;
  }
  
  html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto !important;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }
  
  body {
    @apply text-text bg-secondary
  }
  h1{
    @apply 3xl:text-[110px] 2xl:text-7xl xl:text-6xl md:text-5xl text-4xl;
  }
  h2
  {
   @apply text-4xl md:text-5xl 2xl:text-6xl 3xl:text-7xl;
  }
  h3
  {
    @apply text-2xl md:text-4xl 2xl:text-5xl 3xl:text-6xl;
  }
  h4
  {
    @apply 3xl:text-4xl 2xl:text-3xl md:text-3xl text-2xl;
  }
  h5
  {
    @apply 3xl:text-3xl 2xl:text-2xl text-xl;
  }
  h6
  {
    @apply 2xl:text-2xl text-base;
  }
  p
  {
    @apply text-base md:text-lg 2xl:text-xl 3xl:text-2xl;
  }
  nav
  {
    @apply text-sm 2xl:text-base 3xl:text-xl ;
  }
}

@layer components{

}

@layer utilities {
 
  .overlay-gradient::before {
    @apply absolute inset-0 content-[''] bg-[linear-gradient(180deg,rgba(0,0,0,0)_0%,rgba(0,0,0,0.4)_100%)] -z-0;
  }
  .max-container
  {
    max-width: 1920px;
  }
}




@utility fpt {
  padding-top: clamp(2.5rem, 2.0736rem + 1.6054vw, 4rem);
}
@utility fpb {
  padding-bottom:clamp(2.5rem, 2.0736rem + 1.6054vw, 4rem);
}
@utility fpy {
  padding-top: clamp(2.5rem, 2.0736rem + 1.6054vw, 4rem);
  padding-bottom:clamp(2.5rem, 2.0736rem + 1.6054vw, 4rem);
}
@utility fpr {
  padding-right: clamp(1.25rem, -0.1003rem + 5.0836vw, 6rem);
}
@utility fpl {
  padding-left: clamp(1.25rem, -0.1003rem + 5.0836vw, 6rem);
}
@utility fpx {
  padding-left: clamp(1.25rem, -0.1003rem + 5.0836vw, 6rem);
  padding-right: clamp(1.25rem, -0.1003rem + 5.0836vw, 6rem);
}
@utility fp {
  padding-top: clamp(2.5rem, 2.0736rem + 1.6054vw, 4rem);
  padding-bottom:clamp(2.5rem, 2.0736rem + 1.6054vw, 4rem);
  padding-left: clamp(1.25rem, -0.1003rem + 5.0836vw, 6rem);
  padding-right: clamp(1.25rem, -0.1003rem + 5.0836vw, 6rem);
}
@utility nav
{
  @apply text-sm 2xl:text-base 3xl:text-xl
}

